@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Roboto:wght@400;700&display=swap');

@import "resetcss.scss";



html {
  font-size: calc(100vw/1440*10);
  @media (max-width: 360px) {
    font-size: calc(100vh/320*7.5);
  }
  
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
  min-height: 100%;
  background: white;

}


// оформление шапки сайта


.header {

  &__chekout {
    background: #000;
    padding: 0.7rem;
    color: white;
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    line-height: 1.5rem;
    font-weight: 400;
    width: 100%;
    height: 3rem;
  }

  &__nav {
    width: 100%;
    height:6.6rem ;
    margin-right: 2rem;
  }

  &__banner {
  }

  &__advertising {
  }
}
.container {
  max-width: 144rem;
  margin: 0 auto;
}

.navigation {
  grid-template-columns: auto 1fr auto;
  align-items: center;

  &_item {
    width: 16rem;
    height: 3.6rem;
    position: relative;
    overflow: hidden;
    transition-duration: 0.5s;
  }

  &_item:hover {
    background: rgba(211, 211, 211, 0.556);
    border: 0.2rem solid rgba(128, 128, 128, 0.39);
    box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.777);
  }

  &__menu {
   width: 74rem;
   height: inherit;
  }

  &__cabinet {
   width: 10rem;
   height: 2rem;
   margin-right: 2rem;
  }
}
.grid {
  display: grid;
}
.logo-small {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.menu {
  align-content: center;
  justify-self: center;
  &__list {
    grid-template-columns: repeat(5, auto);
    gap: 2.2rem;
  }
}

.link {

  &__btn {
    padding: 2rem 0rem;
    font-size: 1.4rem;
    line-height: 2.1rem;
    letter-spacing: 0.1rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    color: black;
    transition-duration: 0.5s;
  }
  &__btn:hover {
    background: rgba(211, 211, 211, 0.303);
    box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.283);
  }
}
.cabinet {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1rem;
  margin-right: 5rem;

  &__signin{
    width: 2rem;
    height: 2rem;
    position: relative;
    overflow: hidden;
  }

  &__basked {
    width: 2.2rem;
    height: 2rem;
    position: relative;
    overflow: hidden;
  }
}
.ico-signin {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.ico-bag {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.signin-my {
  padding: 1rem;
  border-radius: 50%;
  transition-duration: 0.5s;
}
// .signin-my:hover {
//   background: rgba(211, 211, 211, 0.556);
//   border: 0.2rem solid rgba(128, 128, 128, 0.539);
//   box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.808);
// }


.basked-my {
  padding: 1rem;
  border-radius: 50%;
  transition-duration: 0.5s;
}
// .basked-my:hover {
//   background: rgba(211, 211, 211, 0.556);
//   border: 0.2rem solid rgba(128, 128, 128, 0.569);
//   box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.799);
// }

.banner {
  position: relative;
  overflow: hidden;

  &__img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  &__title {
    position: absolute;
    z-index: 2;
  }
}
.title {
  width: 63rem;
  height: 1.6rem;
  justify-self: center;
  margin-top: 4.5rem;
  grid-template-rows: repeat(3, 1fr);

  &__main {
    font-size: 4.4rem;
    text-align: center;
    line-height: 5rem;
    font-weight: 400;
    margin-bottom: 1.4rem;
  }

  &__btn {
    grid-template-columns: repeat(2, 1fr);
  }
}
.text {
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  letter-spacing: 0.1rem;
}
.button {
  min-width: 45rem;
  height: 8rem;
  justify-self: center;
  gap: 1.2rem;

  &__revs {
    place-self: center;
  }

  &__boards {
    place-self: center;
  }
}
.orange-btn {
  background: #FF4A32;
  height: 3.3rem;
  border-radius: 3.5rem;
  color: white;
  font-size: 1.4rem;
  line-height: 2.2rem;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  padding: 1rem 3.7rem;
  transition-duration: 0.5s;
}
.orange-btn:hover {
  box-shadow:0.5rem 0.3rem 2rem #FF4A32;
  border: 0.1rem solid white;
}

.advertising {
  background: #000;
  width: 100%;
  height: 8rem;

  &__brands {
   height: inherit;
   width: 120rem;
   margin: 0 auto;
  }
}
.brands {
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-evenly;
  justify-items: center;

  &__logo {
    position: relative;
    overflow: hidden;
    width: 15rem;
    height: 4rem;
    align-self: center;
  }
}
.brandimg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: contain;
}


// щформление секции loking


.loking {

  &__discription {
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    width: 70rem;
    height: 18rem;
    margin: 3rem auto;
    padding: 0 1rem; 
  }

  &__title {
    align-self: center;
    width: 65rem;
    height: 3.6rem;
    font-size: 3.2rem;
    line-height: 3.6rem;
    text-align: center;
    color: #000;
  }

  &__text {
    display: block;
    width: 65rem;
    height: 5.8rem;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.9rem;
    padding: 0 1.5rem;
  }

  &__box {
    width: 120rem;
    height: 58rem;
    margin: 0 auto;
  }
}
.box {
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  margin-bottom: 2rem;

  &__item {
    width: 58rem;
    height: 58rem;
    position: relative;
    overflow: hidden;
  }
}

.shop-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
  transition-duration: 1s;
}
.stock {
  position: absolute;
  z-index: 3;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);

  &__titleh4 {
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: center;
  }

  &__instock {
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.3rem;
    text-align: center;
  }
}
.item1:hover {
  background: #000;
  .shop-img {
    opacity: 0.7;
    transform: scale(1.1 , 1.1);
  } 
}
.item2:hover {
  background: #000;
  .shop-img {
    opacity: 0.7;
    transform: scale(1.1 , 1.1);
  } 
}

// оформление секции performance


.performance {

  &__pic {
    width: 144rem;
    height: 73rem;
  }
}
.pic {
  position: relative;
  overflow: hidden;

  &__img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }

}

.box-title {
  position: absolute;
  z-index: 3;
  width: 56rem;
  height: 20rem;
  justify-self: center;
  margin-top: 4.4rem;
  grid-template-rows: repeat(4, 1fr);

  &__text {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.9rem;
    text-align: center;
    letter-spacing: 0.1rem;
    place-self: center;
  }

  &__titleh2 {
    font-weight: 700;
    font-size: 4.5rem;
    line-height: 5.1rem;
    text-align: center;
    place-self: center;
  }

  &__text2 {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.9rem;
    text-align: center;
    letter-spacing: 0.1rem;
    place-self: center;
  }

  &__btn {
    margin: 0 auto;
    place-self: center;
  }
}

// оформление секции shop 


.shop {

  &__reviev {
    width: 144rem;
    height: 47rem;
    place-items: center;
  }

  &__reviev-box {
    width: 120rem;
    height: 38rem;
  }
}
.reviev {
  grid-template-columns: repeat(3, 1fr);
  padding: 0rem 1rem;

  &__element1 {
    width: 38rem;
    height: 38rem;
    position: relative;
    overflow: hidden;
  }
  

  &__element2 {
    width: 38rem;
    height: 38rem;
    position: relative;
    overflow: hidden;
  }

  &__element3 {
    width: 38rem;
    height: 38rem;
    position: relative;
    overflow: hidden;
  }
}

.scooter1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.scooter2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.offer {

  &__title {
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 3.8rem;
    text-align: left;
    align-self: end;
    margin-bottom: 1rem;
  }

  &__text {
    font-weight: 400;
    line-height: 2.2rem;
    font-size: 1.5rem;
    text-align: left;
    align-self: center;
  }

  &__btn {
    align-self: start;
    margin-top: 1rem;
  }
}

.shop-box {
  width: 144rem;
  height: 48rem;
  grid-template: 48rem  / repeat(3, 48rem);
}

.item3 {
  width: 48rem;
  height: 48rem;
}
.item3:hover {
  background: #000;
  .shop-img {
    opacity: 0.7;
    transform: scale(1.1 , 1.1);
  } 
}
.item4 {
  width: 48rem;
  height: 48rem;
}

.item4:hover {
  background: #000;
  .shop-img {
    opacity: 0.7;
    transform: scale(1.1 , 1.1);
  }
}
.item5 {
  width: 48rem;
  height: 48rem;
}

.item5:hover {
  // position: absolute;
  background: #000;
  // width: 100%;               выскакивает на всю страницу немогу пока применить анимацию
  // height: 100%;
  // object-fit: cover;
  // z-index: 5;

  .shop-img {
    opacity: 0.7;
    transform: scale(1.1 , 1.1);
  }
}

// формление секции video 


.video {
  width: 144rem;
  height: 43rem;


  &__box {
    width: 116rem;
    height: 32rem;
    margin:5.5rem auto;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    // border: 0.3rem solid black;

  }

  &__play1 {
    width: 54rem;
    height: 30rem;
    position: relative;
    overflow: hidden;

  }

  &__play2 {
    width: 54rem;
    height: 30rem;
    position: relative;
    overflow: hidden;
  }
}
.clip1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.clip2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}


// формление секции  accessories


.accessories {
  width: 144rem;
  height: 40.5rem;
  margin-bottom: 10rem;

  &__select {
    width: inherit;
    height: inherit;
    grid-template-rows: repeat(2, 1fr);

  }

  &__title {
    width: 142rem;
    height: 6rem;
    font-weight: 700;
    line-height: 3.6rem;
    font-size: 3.2rem;
    text-align: center;
    place-self: center;
    // border: 0.3rem solid black;
  }

  &__slider {
    grid-template-columns: repeat(7, 1fr);
  }
}
.slider {

  &__box {
    width: 18rem;
    height: 23rem;
    place-self: center;
    // border: 0.3rem solid black;
    grid-template-rows: repeat(3, 1fr);
  }
}
.box {

  &__img {
    width: 17rem;
    height: 17rem;
    position: relative;
    overflow: hidden;
  }
}
.accessor {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: contain;
}
.produkt {
  text-align: center;
  font-weight: 400;
  line-height: 1.8rem;
  font-size: 1.5rem;
  color: #FF4A32;

}
.price {
  text-align: center;
  font-weight: 400;
  line-height: 1.8rem;
  font-size: 1.4rem;
}
.clear-box {
  width: 144rem;
  height: 6.6rem;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 2px 0px 10px rgba(41, 44, 61, 0.34);
  margin-bottom: 3rem;
}

// формление секции  discription


.discription {
  background: #000;
  width: 144rem;
  height: 30.8rem;
  grid-template-columns: repeat(4, 1fr);
}
.grid {
  display: grid;
}
.discription-fast {
  width: 33rem;
  height: 25rem;
}
.discription-img {
  display: inline-block;
  width: 8.7rem;
  height: 8.7rem;
  place-self: center;
  // border: 0.3rem solid rgb(249, 244, 244);
}
.discription-title {
  font-weight: 700;
  line-height: 3.6rem;
  font-size: 3.2rem;
  color: #FFFFFF;
  text-align: center;
  // border: 0.3rem solid rgb(249, 244, 244);
}
.discription-text {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2,2rem;
  text-align: center;
  color: #FFFFFF;
  // border: 0.3rem solid rgb(249, 244, 244);
}
.discription-far {
  width: 33rem;
  height: 25rem;
}
.discription-safe {
  width: 33rem;
  height: 25rem;
}
.discription-last {
  width: 33rem;
  height: 25rem;
}


// формление секции  footer 




.footer {
  margin-top: auto;

  &__subnavigation {
    width: 144rem;
    height: 33rem;
    grid-template-columns: repeat(3, 1fr);
  }

  &__explore {
    padding: 0 1rem;
    grid-template-rows: auto;
  }

  &__about {
    padding:0 3rem 0 1rem ;
    height: inherit;
    text-align: left;
    align-self: center;
  }

  &__information {
    width: 120rem;
    height: 7rem;
    margin: 0 auto;
    padding: 0 1rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

.subnavigation {
  width: 144rem;
  height: 33rem;

  &__logo {
    place-items: center;
  }
}
.logo {
  &__wrap {
    width: 16rem;
    height: 13.5rem;
    position: relative;
    overflow: hidden;
  }
}
.logo-big {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.explore-title {
  font-weight: 400;
  font-size: 2rem;
  line-height: 3rem;
  align-self: center;
}
.explore-list {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2.1rem;
  color: #000000;
}
.exp-link {
  color: #000000;
}
.about-title {
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 3.0rem;
  color: #000000;
  align-self: center;
}
.about-text {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: #000000;
}
.adress {
  display: block;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: #000000;
}
.copyright {
  place-items: center;
  height: inherit;
  font-weight: 400;
  line-height: 1.9rem;
  font-size: 1.2rem;
  grid-column: 1/2;
}
.red {
  color: #FF4A32;
}
.payment {
  grid-column: 3/4;
  height: inherit;

  &__card {
    grid-template-columns: repeat(8, 1fr);
    height: inherit;
    place-items: center;
    gap: 1rem;
  }
}
.card {
  
  &__item{
    position: relative;
    overflow: hidden;
    width: 3.8rem;
    height: 2.4rem;
  }
  &__item-ico {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}
